doctype html
html
    head
        title="Marco Patiño - Software Engineer"
        link(rel='stylesheet', href='/stylesheets/style.css')

        link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
        link(href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet")

        script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
        != LRScript

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="favicon.png" sizes="32x32")
    body.grey.darken-4.white-text
        header
            nav(class="red lighten-1" role="navigation")
                .nav-wrapper.container
                    a(href="#" class="brand-logo"): i.mdi-hardware-desktop-mac &nbsp;Marco Pati&ntilde;o
                    ul#nav-mobile.right.hide-on-med-and-down
                        li: a(href="https://mx.linkedin.com/in/markpatino"): i.socicon-linkedin
                        li: a(href="mailto:markdrake.dev@gmail.com"): i.socicon-mail
                        li: a(href="https://github.com/markdrake"): i.socicon-github
                        li: a(href="https://twitter.com/markdrakke"): i.socicon-twitter

        main
            .container
                block content

        footer.page-footer
            .footer-copyright
                .container
                    p.center-align &copy; 2016 Copyright www.markpatino.com
